{
    "presets": [
        "stage-2",
        "env",
        "react",
        "es2015",
        "flow"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties"
    ]
}
