{
    "presets": [
        "stage-2",
        "env",
        "react",
        "es2015"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "react-loadable/babel"
    ]
}
