.description-page {
    max-width: 1000px;
    margin:0 auto;
    &__header {
      padding: 10px 30px;
      background-color: #35eacf;
    }
  &__genre-result {
    padding: 10px 30px;
    background-color: lightgrey;
  }
}

.b-header__logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header-info {
  display: flex;
  &__img {
    max-width: 300px;
    margin-right: 30px;
    &-pic {
      width: 100%;
    }
  }
  &__about {
    padding: 10px 15px;
    &-title {
      font-size: 30px;
      margin-bottom: 10px;
      color: red;
    }
    &-year {
      color: white;
      padding:  15px 0;
    }
  }
}

.b-year__release-date {
  margin-right: 30px;
}
