.footer {
  background-color: black;
  margin: 30px auto 0;
  max-width: 1000px; }
  .footer__wrap {
    padding: 15px 30px;
    color: red; }

.b-not-found {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .b-not-found__wrap {
    font-size: 30px; }

.page-enter {
  opacity: 0;
  transition: opacity .5s ease-in; }

.page-enter.page-enter-active {
  opacity: 1; }

.page-leave {
  opacity: 1;
  transition: opacity .5s ease-in; }

.page-leave.page-leave-active {
  opacity: 0; }

