.page-enter {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.page-enter.page-enter-active {
  opacity: 1;
}

.page-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.page-leave.page-leave-active {
  opacity: 0;
}